@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

$font-family-sans-serif: "Inter", sans-serif;

$enable-rounded: false;
$component-active-bg: black;
@import "../node_modules/bootstrap/scss/bootstrap.scss";

.del-btn {
  transform: scale(0);
  transition: 0.5s;
}

tr:hover {
  .del-btn {
    transform: scale(1);
  }
}
